body {
    min-height: 100%; 
    height: 100%;
}
.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}
.wrapper {
    width: 400px; 
    height: 450px;
    margin: 0 auto; 
/* wrapperクラスを中央寄せ */
}

.header{
    width: 100%;
    height:100px;
    background-color: #141f40;
    margin: 0 auto; 
}

.main{
    width: 100%;
    height:250px;
    margin: 0 auto; 
}

.left{
    float:left;
    width: 150px;
    height:100%;
    background-color: #80bfa8;
    margin: 0 auto; 
}

.right{
    float:right;
    width: 250px;
    height:100%;
    background-color: #8c2727;
    margin: 0 auto; 
}

.footer{
    width: 100%;
    height:100px;
    background-color: #d98d30;
    margin: 0 auto; 
}



@media screen and (max-width: 767px) {

    #wrapper {
        width: 80%;
    }

}